
@font-face {
    font-family: OpenSans-Semibold;
    src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

button {
    font-family: OpenSans;
    font-size: 0.8em;
   /* background-color: #F7F7F2;*/

}

body {
    display: flex;
    flex-direction: row;
    font-family: OpenSans;
    background-color: #E4E6C3;
    color: #121113;
}

a {
    color: #501050;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.my-message {
    width: 90%;
    height: 5em;
    font-family: OpenSans;
    margin-top: 0.5em;
    padding: 0;
}

.chat-message {
    font-family: OpenSans;
    font-size: 1em;
    margin-left: 0.5em;
}

.chat-messages {
    background-color: #F7F7F2;
}

.username {
    font-family: OpenSans-Semibold;
    font-size: 1.1em;
}

.timestamp {
    font-family: OpenSans-Light;
    font-size: 0.7em;
    color: #595959;
}

.message-text {
    font-family: OpenSans;
    font-size: 0.8em;
}

.container {
    padding: 1em;
}

#user-list {
    display: none;
    padding-left: 1em;
    width: 12em;
    height: 100%;
    overflow: scroll;
    background-color: #F7F7F2;
    position: fixed;
    right: 0;
    top: 0;
}

#user-list ul {
    list-style-type: none;
    font-size: 0.8em;
    line-height: 150%;
    margin: 0.5em;
    padding: 0.5em;
}

#messages-container {
    height: 500px;
    overflow: scroll;
    background-color: #F7F7F2
}