@font-face {
    font-family: Catamaran-Thin;
    src: url(../fonts/Catamaran-Thin.ttf);
}

@font-face {
    font-family: Catamaran-Light;
    src: url(../fonts/Catamaran-Light.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Catamaran-Thin, sans-serif;
    background-color: #52414C;
    color: #101010;
    margin: 0;
    padding: 0;
}

button {
    font-size: 0.8em;
    width: 10em;
}

h1 {
    font-family: Raleway;
    font-weight: normal;
    font-size: 1.8em;
    margin-left: 2em;
}

a {
    color: #501050;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#my-message {
    font-family: Catamaran-Light, sans-serif;
    box-sizing: border-box;
    width: 100%;
    min-height: 1.7em;
    max-height: 7.2em;
    font-size: 1em;
    line-height: 1.4em;
    border: none;
    padding: 0.1em;
    margin: 1em;
    overflow-y: auto;
}

#my-message-container {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #DDCA99;
    border-radius: 0.5em;
    padding: 0.2em;
}

.chat-message {
    /* Bubble around message
    background-color: #f5f5f5;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;*/
    font-family: Catamaran-Light, sans-serif;
    font-size: 1em;
    margin-bottom: 0.5rem;
}

#chat-messages {
    font-family: Catamaran-Light, sans-serif;
    font-size: 1em;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 0em;
}

.username {
    font-weight: bold;
    font-size: 1.1em;
}

.timestamp {
    /*font-family: Catamaran-Light;*/
    font-size: 0.7em;
    color: #595959;
}

.message-text {
    /*font-family: Catamaran-Light;*/
    font-size: 1em;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#side-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 20em;
    height: 100vh;
    overflow: hidden;
    background-color: #52414C;
    color: #CCDDCC;
    line-height: 1.6em;
}

#side-menu ul {
    list-style-type: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#side-menu ul li {
    padding-left: 1.5em;
    font-family: Catamaran-Thin;
}

#side-menu ul li:hover {
    background-color: #372731;
}

#container {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0em;
    margin: 0;
}

#login-container {
    border: 1px solid #372731;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #f2f0d5;
    color: #372731;
    width: 20vw;
    margin: 50vh 40vw;
}

#login-container input {
    border: 1px solid #372731;
    border-radius: 0.1rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
}

#login-container input[type=submit] {
    background-color: #ffffff;
    border: 1px solid #372731;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    color: #372731;
    width: 70%;
    margin: 0 15%;
}

#login-container input[type=submit]:active {
    background-color: #ebe9ce;
    color: #52414C;
    border: 1px solid #52414C;
}

#logout-button {
    background-color: #ffffff;
    color: #372731;
    border: 1px solid #372731;
    border-radius: 0.2rem;
    font-size: 1rem;
    height: 2rem;
    width: 15rem;
    margin: 0.5rem 0.5rem;
    position: fixed;
    bottom: 0;
}

#logout-button:active {
    background-color: #EBE9CE;
    color: #52414C;
    border: 1px solid #52414C;
}

#messages-view {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFFFFF;
}

#title {
    position: fixed;
}

#user-list {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 3.5rem 0;
}