@font-face {
    font-family: Catamaran-Thin;
    src: url(../fonts/Catamaran-Thin.ttf);
}

@font-face {
    font-family: Catamaran-Light;
    src: url(../fonts/Catamaran-Light.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Catamaran-Thin, sans-serif;
    background-color: #52414C;
    color: #101010;
    margin: 0;
    padding: 0;
}

button {
    font-size: 0.8em;
    width: 10em;
}

h1 {
    font-family: Raleway;
    font-weight: normal;
    font-size: 1.8em;
    margin-left: 2em;
}

a {
    color: #501050;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#my-message {
    font-family: Catamaran-Light, sans-serif;
    box-sizing: border-box;
    min-height: 1.7em;
    max-height: 7.2em;
    font-size: 1em;
    line-height: 1.4em;
    border: none;
    padding: 0.1em;
    margin: 1em;
    overflow-y: auto;
    max-width: 97%;
    word-wrap: break-word;
}

#my-message-container {
    box-sizing: border-box;
    border: 2px solid #DDCA99;
    border-radius: 0.5em;
    padding: 0.2em;
    margin-left: 3rem;
}

.chat-message {
    font-family: Catamaran-Light, sans-serif;
    font-size: 1em;
    margin-bottom: 0.5rem;
}

#chat-messages {
    font-family: Catamaran-Light, sans-serif;
    font-size: 1em;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 0em;
}

.username {
    font-weight: bold;
    font-size: 1.1em;
}

.timestamp {
    /*font-family: Catamaran-Light;*/
    font-size: 0.7em;
    color: #595959;
}

.message-text {
    /*font-family: Catamaran-Light;
    display: inline-block;*/
    font-size: 1em;
    max-width: 78vw;
    word-wrap: break-word;
}
/*
.message-content {
    display: inline-block;
}
*/
#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.side-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 15rem;
    height: 100vh;
    overflow: hidden;
    line-height: 1.6em;
}

.side-menu ul {
    list-style-type: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.side-menu ul li {
    padding-left: 1.5em;
    font-family: Catamaran-Thin;
    list-style-position: inside;
}

#left-side-menu {
    background-color: #52414C;
    color: #CCDDCC;
}

#left-side-menu ul li:hover {
    background-color: #372731;
}

#right-side-menu {
    background-color: #52414C;
    color: #CCDDCC;
}

#right-side-menu ul li:hover {
    background-color: #372731;
}

#partial-container {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0em;
    margin: 0;
}

#login-container,
#settings-container,
#signup-container {
    border: 1px solid #372731;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem 0rem;
    box-sizing: border-box;
    background-color: #f2f0d5;
    color: #372731;
    min-width: 25%;
    margin: 0 37.5%;
    position: fixed;
    top: 15rem;
}

#settings-container {
	max-height: 50%;
    margin: 0 37.5% 0 calc(37.5% - 15rem);
	text-align: center;
	height: 100%;
}

#settings-img {
	width: 128px;
	height: 128px;
}

#login-container input[type=text],
#signup-container input[type=text],
#signup-container input[type="email"],
#signup-container input[type="password"],
#login-container input[type=password] {
    border: 1px solid #372731;
    border-radius: 0.1rem;
    width: 100%;
    margin: 0.5rem 0 0.5rem;
}

#login-container input[type=submit],
#signup-container input[type=submit] {
    background-color: #ffffff;
    border: 1px solid #372731;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    color: #372731;
    min-width: 20%;
    margin: 0 0.5rem;
}

#login-container input[type=submit]:active,
#signup-container input[type=submit]:active {
    background-color: #ebe9ce;
    color: #52414C;
    border: 1px solid #52414C;
}

#login-title,
#signup-title {
    font-size: 6rem;
    color: white;
    margin-left: 0;
}
/*
.user-image-frame {
    border: 1px solid #8d8d8d;
    border-radius: 0.2rem;
    display: inline-block;
    vertical-align: top;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
}

.user-image-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.user-image {
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-height: 3.5rem;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}*/

.title-container {
    min-width: 40%;
    margin: 0 30% 0;
    text-align: center;
    position: fixed;
    top: 2rem;
}

#signup-link-container,
#home-link-container {
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

.right-side-button {
    background-color: #ffffff;
    color: #372731;
    border: 1px solid #372731;
    border-radius: 0.2rem;
    font-size: 1rem;
    height: 2rem;
    min-width: 14rem;
    margin: 0.5rem 0.5rem;
    position: fixed;
}

.right-side-button:active {
    background-color: #EBE9CE;
    color: #52414C;
    border: 1px solid #52414C;
}

#logout-button {
    bottom: 0;
}

#settings-button {
    top: 1.7rem;
}

#messages-view {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0;
    background-color: #FFFFFF;
    width: calc(100vw - 32rem);
}

#login-view, #signup-view {
    width: 100vw;
}
#settings-view {
    background-color: white;
    height: 100%;
    width: calc(100vw - 30rem);
}

#settings-container {
    top: 20vh;
}

#title {
    position: fixed;
}

.side-menu-list {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 3.5rem 0;
}


#user-list {
    margin: 1.8rem 0 3rem;
}

#chatroom-list {
    margin: 3.5rem 0 0;
}

#chatroom-list p {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

.error-message {
    height: auto;
    font-size: 0.8rem;
    color: #dd2b38;
    margin: 0.7rem auto 1rem;
    white-space: pre-wrap;
    word-wrap: normal;
}

#status-message {
    min-height: 2rem;
    padding: 0 auto;
    margin: 0.2rem auto 0.1rem;
    text-align: center;
}

#status-message span {
    vertical-align: middle;
    margin: 1rem auto 0;
}

#status-message-time {
    font-size: 0.7em;
    padding-right: 0.5rem;
    color: #595959;
}

#status-message-text {
    font-size: 0.8rem;
}

.markedRoom {
    background-color: #DDDDFF;
    color: #595959;
}

.newMessage {
    background-repeat: no-repeat;
    background-position: 0px 50%;
    list-style-image: url(../bell.png);
    color: #00FE54;
}

#logged-in-user {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.input-group-addon {
    position: fixed;
    border: 2px solid #DDCA99;
    border-radius: 0.5em;
    padding: 0.2em;
    width: 2rem;
    height: 3.7rem;
}

.smilies-selector {
    width: 100%;
    vertical-align: middle;
    margin: 65% 23%;
}

.popover {
    display: flex;
    border: 1px solid #8a8a8a;
    border-radius: 0.3rem;
    background-color: #ededed;
    width: 7rem;
    top: -14rem !important;
    left: -2.5rem !important;
    text-align: center;
}

.popover-title {
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem 0 0 0;
    background-color: lightgray;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 0.3rem 0.3rem 0 0;
    margin: 0 0 0.3rem !important;
}

.arrow {
    background-color: black;
}
