<div id="messages-view">
    <div id="chat-messages" scroll-glue>
        <div class="chat-message" ng-repeat="message in messages track by $index">
            <span class="username">{{message.sender}}</span> <span class="timestamp">{{message.date | date : 'MMM d, HH:mm'}}</span>
            <div class="message-text" ng-bind-html="message.text"></div>
        </div>
    </div>
    <div id="my-message-container">
        <div contenteditable="true" ng-model="textMessage" id="my-message"></div>
    </div>
    <div id="status-message">
        <span id="status-message-time">{{statusMessage.date | date: 'HH:mm'}}</span><span id="status-message-text">{{statusMessage.text}}</span>
    </div>
</div>
