 <upload-button
  url="/upload"
  param="avatar"
  name="avatar"
  data="user">Upload
</upload-button>  
   <!-- <input name="avatar" type="file" param="avatar"/>
   <button ng-click="doUpload()" type="button">upload</button> -->

<div id="settings-container" >
    <form name="settings-form" novalidate="true">
        <label for="username-setting-input">Användarnamn</label>
        <input type="text" id="username-setting-input" ng-model="login.username">
        <input type="submit" value="Ändra" ng-click="userLogin()">
    </form>
</div>