<div id="settings-container">
	<label for="userpic">Användarbild</label><br>
	<img src="userpic.jpg" id="settings-img">
    <div
        upload-button
        url="/upload"
        param="avatar"
        name="avatar"
        data="user">
    </div> 
    <form name="settings-form" novalidate="true">
        <label for="username-setting-input">Användarnamn</label><br>
        <input type="text" id="username-setting-input" ng-model="login.username"><br>
        <input type="submit" value="Ändra" ng-click="userLogin()">
    </form>
</div>