<ion-view view-title="Login">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-content>
        {{jepp}}
        <a href="#/messages">
            <button class="button button-block button-positive">
                Meddelanden
            </button>
        </a>
        <a href="#/settings">
            <button class="button button-block button-energized">
                Inställningar
            </button>
        </a>
        <a href="#/signup">
            <button class="button button-block button-royal">
                Signup
            </button>
        </a>
    </ion-content>
</ion-view>
