<ion-content delegate-handle="side-menu-handle">
  <div class="item item-divider" ng-hide="addMode">
    Chatrum
    <button ng-click="toggleAddChatroom()" class="button-icon ion-ios-plus-outline add-channel-button">
    </button>
  </div>
  <div class="item item-input-inset" ng-show="addMode">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Chatroom" ng-model="newChatroom.name">
    </label>
    <button class="button button-small" ng-click="addChatroom()">
      Add
    </button>
  </div>
  <ion-list>
    <ion-item ng-repeat="chatroom in chatrooms" ng-click="changeChatroom(chatroom._id)" ng-class="{markedroom: selected==chatroom._id}" menu-close>
      #{{chatroom.name}}
    </ion-item>
  </ion-list>
  <div class="item item-divider">
    Aktiva användare
  </div>
  <ion-list>
    <ion-item ng-repeat="privateRoom in activeUsers track by privateRoom.id" ng-click="changeRecipient(privateRoom)" ng-class="{'my-user': user.id == privateRoom.id, markedroom: selected==privateRoom.id}" menu-close>
      <i ng-class="{icon: true, 'ion-email': hadConversation(privateRoom.id), 'new-message': newMessages.includes(privateRoom.id)}"></i>
      {{privateRoom.name}}
    </ion-item>
  </ion-list>
  <div class="item item-divider">
    Tidigare konversationer
  </div>
  <ion-list>
    <ion-item ng-repeat="privateRoom in offlineConversations track by privateRoom.id" ng-click="changeRecipient(privateRoom)" ng-class="{markedroom: selected==privateRoom.id}" menu-close>
      <i ng-class="{icon: true, 'ion-email new-message': newMessages.includes(privateRoom.id)}"></i>
      {{privateRoom.name}}
    </ion-item>
  </ion-list>
<!-- förslag på att ha sökruta för att söka på användare input knapp-->
<div>
	<input type="text" placeholder="Sök på användare" ng-model="person.name">
    <button ng-click="searchUser()">
      sök
    </button>
</div>
</ion-content>
