<ion-view>
    <ion-content class="messages-content has-header" ng-class="{'android-margin-bottom': $root.android}" padding="true">
      <div id="chat-messages">
        <p ng-show="noMessages"> Det finns inga meddelanden att visa i denna konversation. </p>
        <div class="chat-message" ng-repeat="message in messages | orderBy:'timestamp' track by $index">
          <span class="username" ng-click="changeRecipientFromMessage(message)">{{message.senderName}}</span> <span class="timestamp">{{message.timestamp | date : 'MMM d, HH:mm'}}</span>
          <div class="message-text" ng-bind-html="message.text | smilies"></div>
        </div>
      </div>
    </ion-content>
    <div keyboard-attach class="list light-grey bottommsg message-input-container">
      <div class="item item-input-inset light-grey message-input">
        <label class="item-input-wrapper line-light-grey nopadtop">
          <textarea onkeyup="limitTextarea(this, 5, 255)" msd-elastic maxlength="255" class="line-light-grey message-input-field" rows="5" type="text" placeholder="Skriv ditt meddelande..." ng-model="text.message">
          </textarea>
        </label>
        <div class="divsend">
          <button class="button ion-ios-arrow-forward iconsend" ng-click="isPrivate ? postPrivateMessage() : postMessage()"></button>
        </div>
      </div>
    </div>

</ion-view>
