<ion-view view-title="Inställningar">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button ng-click="goBackToMessages()">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content id="settings-page" padding="true">
    <div class="settings-username">
      <h1>{{user.name}}</h1>
    </div>
    <div class="item-body">
      <img class="full-image" src="https://img.devrant.io/devrant/rant/r_88286_ZsK5W.jpg">
    </div>
    <div class="item item-input-inset change-username-container">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Nytt användarnamn" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[0-9a-zA-Z]{3,20}$/" ng-model="settings.username">
      </label>
      <button class="button change-username-button ion-compose" ng-click="changeUsername(settings.username)"></button>
    </div>
      <button class="button button-block button-shutapp" ng-click="logout()">
        Logga ut
      </button>
  </ion-content>
</ion-view>
