/* Empty. Add your own CSS if you like */
.message-text {
  font-size: 1em;
  max-width: 78vw;
  word-wrap: break-word;
}
.timestamp {
  font-size: 0.7em;
  color: #595959;
}
.username {
  font-weight: bold;
  font-size: 1.1em;
}
.chat-message {
  font-size: 1em;
  margin-bottom: 0.5rem;
}
#chat-messages {
  font-family: Catamaran-Light, sans-serif;
  font-size: 1em;
  height: auto;
  width: 100%;
  overflow-y: auto;
  padding: 0em;
}
.message-input {
  padding: 0 0 0 0.7rem;
  margin-bottom: -2px;
}
.message-input-container {
  padding: 0 0;
}
.bottommsg {
  position: fixed;
  bottom:0px;
  width: 100%;
}
.divsend {
  background-color: #efefef;
  margin-left: 7px;
}
.iconsend {
  background-color: #efefef;
  font-size: 30px;
}
.nopadtop {
  padding-top: 0px;
}
.messages-content{
  bottom: 2.3rem;
}
.message-input-field {
  width: 100%;
}
