/* Empty. Add your own CSS if you like */

@font-face {
    font-family: Catamaran-Thin;
    src: url(../fonts/Catamaran-Thin.ttf);
}
@font-face {
    font-family: Catamaran-Light;
    src: url(../fonts/Catamaran-Light.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
#shut-app-title {
    color: #ccddcc;
    font-family: Raleway;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.login-signup-container {
    padding-top: 10vh;
    background-color: #52414C;
}
.input-field-container {
    background-color: white;
    border-radius: 0.3rem;
}
form {
    background-color: #ebe9ce;
    padding: 0.6rem 0.6rem 0.001rem 0.6rem;
    border-radius: 0.3rem;
}
.message-text {
  font-size: 1em;
  max-width: 78vw;
  word-wrap: break-word;
}
.timestamp {
  font-size: 0.7em;
  color: #595959;
}
.username {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}
.chat-message {
  font-size: 1em;
  margin-bottom: 0.5rem;
}
#chat-messages {
  font-family: Catamaran-Light, sans-serif;
  font-size: 1em;
  height: auto;
  width: 100%;
  overflow-y: auto;
  padding: 0em;
}
.message-input {
  padding: 0 0 0 0.7rem;
  margin-bottom: -2px;
}
.message-input-container {
  padding: 0 0;
}
.bottommsg {
  position: fixed;
  bottom:0px;
  width: 100%;
}
.divsend {
  background-color: #efefef;
  margin-left: 7px;
  padding: 2.5px 0;
}
.iconsend {
  background-color: #efefef;
  font-size: 30px;
}
.nopadtop {
  padding-top: 0px;
  margin: 0.5rem 0;
}
.messages-content{
  bottom: 2.3rem;
}
.message-input-field {
  background-color: #efefef;
  margin: 0.5rem 0;
  width: 100%;
  resize: none;
}
.message-content {
  display: inline-block;
}
.markedroom {
  background-color: #7c6273;
  border-color: #52414C;
  color: #ccddcc;
}
.new-message {
  color: #00FE54;
}
.my-user::after {
  content: ' (du)';
}
.back-button {
  color: #ccddcc !important;
}
/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header {
  height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important;
}
ion-nav-view {
  border-top: 1px solid #d7d7d7;
}
#signup-link-container,
#home-link-container {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}
#signup-link-container a, #home-link-container a {
  text-decoration: none;
}
#settings-page {
  background-color: #796070;
}
.item-divider {
  background-color: #52414C;
  border-color: #67525f;
  color: #ccddcc;
}
.user-image-frame {
  border: 1px solid #8d8d8d;
  border-radius: 0.2rem;
  display: inline-block;
  vertical-align: top;
  width: 2.7rem;
  height: 2.7rem;
  overflow: hidden;
}
.user-image-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.message-image {
  display: block;
  min-width: 100%;
  min-height: 100%;
  max-width: 2.7rem;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}
.full-image-frame {
  border: 1px solid #8d8d8d;
  border-radius: 0.2rem;
  display: inline-block;
  vertical-align: top;
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  margin: 0 28% 1rem;
}
.full-image-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.full-image {
  display: block;
  min-width: 100%;
  min-height: 100%;
  max-width: 10rem;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}
.ion-camera {
  position: absolute;
  bottom: -0.5rem;
  right: 0rem;
}
.settings-username {
  text-align: center;
}
.settings-username h1 {
  color: #ccddcc;
}
.change-username-button {
  font-size: 20px;
  min-height: 20px;
  max-height: 30px;
  line-height: 22px;
}
.change-username-container {
  margin: 0 1rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.android-margin-bottom {
  margin-bottom: 1rem;
}
.ion-ios-plus-outline {
  float: right;
}
.add-channel-button {
  margin-top: -0.5rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #ccddcc;
}
